{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks", "eslint-plugin-prettier", "react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "alias": {
      "map": [
        ["modules", "./src/modules/"],
        ["components", "./src/components/"],
        ["services", "./src/services/"],
        ["models", "./src/models/"],
        ["views", "./src/views/"],
        ["utils", "./src/utils/"],
        ["assets", "./src/assets/"],
        ["styles", "./src/styles/"]
      ]
    }
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "sort-imports": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "import/no-unresolved": ["off"],
    "no-console": ["error"],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ]
  }
}
