@import 'styles/_colors';

.button {
  background-color: $pink-opacity;
  color: $pink;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.8rem;
  font-weight: bold;

  &:hover {
    color: $pink-opacity;
    background-color: $pink;
  }
}

.link {
  text-decoration: none;
}
