@import 'styles/_colors';

.view {
  position: relative;
  height: 100vh;
  width: 100vw;

  .icon {
    fill: white;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $pink;

    .title {
      margin-left: 0.8rem;
      font-size: 1.8rem;
      color: $white;
    }
  }
}
