@import 'styles/_colors';
@import 'styles/_mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .header {
    padding: 1.2rem 1.2rem 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-id {
      color: $gray;
      font-size: 1.6rem;
      line-height: 1;
      font-weight: bold;
    }

    .link {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.2rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .icon {
      transform: rotate(180deg);
    }
  }

  .main-info {
    display: grid;
    grid-template-columns: minmax(2fr, 60rem) 1fr;
    gap: 1.2rem;
    grid-template-areas: 'title title' 'img choices';

    @include mobile {
      grid-template-columns: 1fr;
      gap: 1.2rem;
      grid-template-areas: 'title' 'img' 'choices';
    }

    .title {
      grid-area: title;
      font-size: 2.4rem;
      color: $blue;
      margin-bottom: 0.8rem;
    }

    .img {
      grid-area: img;
      height: 100%;
      width: 100%;
      object-fit: cover;
      justify-self: flex-start;
    }

    .choices {
      grid-area: choices;
    }
  }

  .results {
    &-title {
      font-size: 1.8rem;
      color: $blue;
      margin-bottom: 0.8rem;
    }

    &-total {
      font-size: 1.4rem;
      color: $gray;
      line-height: 1.4;
    }
  }
}
