$white: #fff;
$pink: #f9b4ab;
$bege: #fdebd3;
$blue: #264e70;
$military: #264e70;
$jet-stream: #bbd4ce;
$gainsbroro: #dcdcdc;
$silver: #c0c0c0;
$gray: #808080;
$dimgray: #696969;
$darker-gray: #2f4f4f;

// SOURCE: https://colors.muz.li/palette/f9b4ab/fdebd3/264e70/679186/bbd4ce
