$sm-viewport-max-width: 48rem;
$md-viewport-max-width: 102.4rem;
$md-viewport-min-width: #{$sm-viewport-max-width + 0.1rem};
$lg-viewport-min-width: #{$md-viewport-max-width + 0.1rem};

@mixin mobile {
  @media (max-width: $sm-viewport-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $lg-viewport-min-width) {
    @content;
  }
}
