@import 'styles/_colors';
@import 'styles/_mixins';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;

  .title {
    font-size: 2.8rem;
    text-align: center;
    color: $blue;
    margin-bottom: 1.2rem;
    line-height: 1.4;
  }

  .input {
    border: 0.25rem solid $bege;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    color: $dimgray;
    background: url('../../assets/ic-search.svg') no-repeat scroll 0.4rem 0.6rem;
    padding: 0.6rem 0.4rem 0.6rem 3.2rem;
    width: 100%;

    &:focus {
      border-color: $pink;
    }

    &::placeholder {
      font-size: 1.6rem;
      color: $gainsbroro;
    }
  }

  .cards {
    width: 100%;
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.6rem;

    &-image {
      height: 35.2rem;
      width: 35.2rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6.4rem;

    &-image {
      height: 35.2rem;
      width: 35.2rem;
    }

    &-text {
      font-size: 1.8rem;
      color: $pink;
    }
  }

  .button {
    margin-top: 3.2rem;
  }
}
